@import 'base/variables';
@import 'components/navigation';
@import 'components/signup-page';
@import 'components/login-page';
@import 'components/journals-page';
@import 'components/entries-page';
@import 'components/about-page';

footer {
  height: 60px;
  border-top: 1px solid #e7e7e7;

  p {
    margin-top: 25px;
  }
}
