@font-face {
  font-family: 'Joe Schmoe';
  src: url('/fonts/dk-joe-schmoe.ttf');
}

@font-face {
  font-family: 'Lato Regular';
  src: url('/fonts/lato-regular.ttf');
}
$journal-title: 'Lato Regular', Helvetica, sans-serif;

$break-large: 1200px;
$break-medium: 767px;
$break-small: 480px;

// Highlight color
$highlight: #DF744A;
