@font-face {
  font-family: 'Joe Schmoe';
  src: url('/fonts/dk-joe-schmoe.ttf');
}

$journal-title: 'Joe Schmoe', Helvetica, sans-serif;

$break-large: 1200px;
$break-medium: 767px;
$break-small: 480px;
