#text-editor {
  height: 640px;
}

.editor-button {
  margin: 4px 2px;
}

#entry-list-container {
  background: #f0f0f0;
  border: 1px solid #e7e7e7;
  border-right: 1px solid #aaa;
  display: inline-block;
  width: 20%;
  height: inherit;
  float: left;

  h3 {
    margin-left: 20px;
    display: inline-block;
  }

  #add-search {
    height: 120px;

    #add-entry {
      float: right;
      margin-top: 16px;
      margin-right: 5%;
    }

    #entry-search {
      display: block;
      width: 90%;
      margin: 10px auto;
      margin-bottom: 10px;
      padding-left: 8px;
      font-size: 20px;
      border: 1px solid #cccccc;
      border-radius: 5px;
    }
  }

  #entry-list {
    height: 520px;
    overflow: scroll;

    ul#entries {
      list-style: none;
      margin-top: 20px;
      li {
        display: block;
        margin: 0 auto;
        margin-left: -40px;
        margin-bottom: 20px;
        cursor: pointer;

        img {
          width: 100%;
        }

        p {
          color: #333;
          font-size: 16px;
        }
      }
    }
  }
}

#editor-window {
  background: #f0f0f0;
  border: 1px solid #e7e7e7;
  border-left: 1px solid #aaa;
  display: inline-block;
  width: 80%;
  height: inherit;

  #editor {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;

    #edit-mode-text {
      display: inline;
      font-size: 16px;
      line-height: 38px;
      padding-right: 6px;
    }

    #editor-title {
      font-size: 24px;
      margin-bottom: 10px;
      padding-left: 8px;
      border: 1px solid #cccccc;
      border-radius: 5px;
    }

    iframe {
      width: 100%;
      height: 500px;
      background-color: #fff;
      border: 1px solid #cccccc;
      border-radius: 5px;
    }
  }
}
