#text-editor {
  height: 745px;

  @media screen and (max-width: 799px) {
    height: 960px;
  }

  @media screen and (max-width: 619px) {
    height: 1000px;
  }
}

.editor-button {
  margin: 4px 2px;
}

.editor-save-button {
  margin-left: 12px;
  padding: 4px 12px;
}

#entry-list-container {
  background: #f0f0f0;
  border: 1px solid #e7e7e7;
  border-right: 1px solid #aaa;
  display: inline-block;
  width: 20%;
  height: inherit;
  float: left;

  @media screen and (max-width: 799px) {
    display: block;
    float: none;
    width: 100%;
    height: 350px;
    overflow: hidden;
  }

  h3 {
    margin-left: 20px;
    display: inline-block;
  }

  #add-search {
    height: 120px;

    @media screen and (max-width: 959px) {
      h3 {
        display: block;
        margin-left: 0;
        text-align: center;
      }
    }

    #add-entry {
      float: right;
      margin-top: 16px;
      margin-right: 5%;
      background-color: $highlight;
      border-color: $highlight;

      @media screen and (max-width: 959px) {
        display: block;
        float: none;
        margin: 0 auto;
        margin-top: 0;
        margin-bottom: 10px;
      }
    }

    #entry-search {
      display: block;
      width: 90%;
      margin: 10px auto;
      margin-bottom: 10px;
      padding-left: 8px;
      font-size: 20px;
      border: 1px solid #cccccc;
      border-radius: 5px;
    }
  }

  #entry-list {
    height: 625px;
    overflow: scroll;

    @media screen and (max-width: 799px) {
      height: 350px;
      width: 90%;
      margin: 0 auto;
      overflow-y: hidden;
      white-space: nowrap;
    }

    ul#entries {
      list-style: none;
      margin-top: 20px;

      @media screen and (max-width: 799px) {
        list-style: none;
      }

      li {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        cursor: pointer;

        @media screen and (max-width: 799px) {
          width: 138px;
          margin-right: 30px;
          display: inline-block;
        }

        img {
          width: 100%;
        }

        p {
          color: #333;
          font-size: 16px;
          padding: 0 5%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

#editor-window {
  background: #f0f0f0;
  border: 1px solid #e7e7e7;
  border-left: 1px solid #aaa;
  display: inline-block;
  width: 80%;
  height: inherit;

  @media screen and (max-width: 799px) {
    height: 610px;
    width: 100%;
  }

  @media screen and (max-width: 619px) {
    height: 650px;
  }

  #editor {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;

    #edit-mode-text {
      display: inline;
      font-size: 16px;
      line-height: 38px;
      padding-right: 6px;
    }

    #editor-title {
      font-size: 24px;
      margin-bottom: 10px;
      padding-left: 8px;
      border: 1px solid #cccccc;
      border-radius: 5px;
    }

    iframe {
      width: 100%;
      height: 500px;
      background-color: #fff;
      border: 1px solid #cccccc;
      border-radius: 5px;
    }
  }
}
