#journal-index {
  width: 80%;
  min-height: 620px;
  display: block;
  margin: 0 auto;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

#journal-list {
  margin-top: 80px;
}

.journal-item {

  .journal-link-container {
    background-color: #ddd;
    border-radius: 3px;

    .journal-icon {
      display: block;
      margin: 0 auto;
      margin-top: 10px;
      width: 100%;
    }
    p {
      margin-bottom: 12px;
      line-height: 36px;
    }
    a {
      color: #333;
    }
  }
}

.journal-item:nth-child(odd) {
  // background: red;
}

.journal-item:nth-child(even) {
  // background: blue;
}
