#journal-index {
  width: 80%;
  display: block;
  margin: 0 auto;
  overflow: auto;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

#search-form {
  @media screen and (max-width: 602px) {
    margin: 0 auto;
    width: 300px;
  }
}

#journal-search {
  width: 300px;
  margin-bottom: 10px;
  margin-right: 20px;
  padding-left: 8px;
  font-size: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

#type-filter {
  @media screen and (max-width: 602px) {
    margin: 0 auto;
    width: 180px;
  }

  label {
    margin-right: 10px;
  }

  #journal-filter {
    height: 32px;
  }
}

#create-new-journal-button {
  float: right;
  margin-top: -1px;
  background-color: $highlight;
  border-color: $highlight;
  border-radius: 0;

  @media screen and (max-width: 602px) {
    float: none;
    display: block;
    margin: 20px auto;
  }
}

.create-journal {
  display: block;
  width: 90%;
  margin: 10px auto;
  margin-bottom: 24px;
  padding-left: 8px;
  font-size: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

#journal-type-label {
  margin-left: 28px;
}

#set-journal-type {
  height: 32px;
  margin-left: 10px;
  vertical-align: bottom;
}

#addJournalModal {
  button[type="submit"] {
    background-color: $highlight;
    border-color: $highlight;
  }
}

#journal-list {
  margin-top: 12px;
  border-top: 2px solid #ddd;
  padding-top: 6px;

  @media screen and (max-width: 590px) {
    width: 75%;
  }

  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

.journal-item {
  @media screen and (max-width: 590px) {
    width: 100%;
  }

  .journal-link-container {
    background-color: #F8F1E5;
    border-radius: 3px;

    select {
      position: absolute;
      width: 70%;
      margin-left: 10px;
      margin-top: 2px;
      border: none;
      background: none;
      -moz-appearance: none;
      -webkit-appearance:none;
    }

    select::-ms-expand {
      display: none;
    }

    .journal-icon {
      display: block;
      margin: 0 auto;
      margin-top: 10px;
      padding-top: 18px;
      width: 100%;
    }
    p {
      margin-bottom: 12px;
      line-height: 36px;
    }
    a {
      color: #333;
    }
    .journal-title {
      display: block;
      font-family: $journal-title;
      padding: 0 5%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .journal-title:hover {
      background: url('/images/pencil-icon.png') no-repeat;
      background-position: right 6px center;
    }
    .journal-title:focus {
      background-color: #fff;
    }
  }
}
