#journal-index {
  width: 80%;
  min-height: 620px;
  display: block;
  margin: 0 auto;
  overflow: auto;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

#journal-search {
  width: 300px;
  margin-bottom: 10px;
  margin-right: 20px;
  padding-left: 8px;
  font-size: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

label {
  margin-right: 10px;
}

#journal-filter {
  height: 32px;
  vertical-align: top;
}

.create-journal {
  display: block;
  width: 90%;
  margin: 10px auto;
  margin-bottom: 24px;
  padding-left: 8px;
  font-size: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

#journal-type-label {
  margin-left: 28px;
}

#set-journal-type {
  height: 32px;
  vertical-align: bottom;
}

#journal-list {
  margin-top: 12px;
}

.journal-item {

  .journal-link-container {
    background-color: #ddd;
    border-radius: 3px;

    select {
      position: absolute;
      width: 70%;
      margin-left: 10px;
      margin-top: 2px;
      border: none;
      background: none;
      -moz-appearance: none;
      -webkit-appearance:none;
    }

    select::-ms-expand {
      display: none;
    }

    .journal-icon {
      display: block;
      margin: 0 auto;
      margin-top: 10px;
      padding-top: 18px;
      width: 100%;
    }
    p {
      margin-bottom: 12px;
      line-height: 36px;
    }
    a {
      color: #333;
    }
    .journal-title {
      font-family: $journal-title;
    }
    .journal-title:hover {
      background: url('/images/pencil-icon.png') no-repeat;
      background-position: right 6px center;
    }
    .journal-title:focus {
      background-color: #fff;
    }
  }
}

.journal-item:nth-child(odd) {
  // background: red;
}

.journal-item:nth-child(even) {
  // background: blue;
}
